.footer {
  background-color:  $color-nero;
}

.footer__inner {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
  min-height: 200px;
  align-items: flex-end;
}

.footer__text {
  color: $color-default-white;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 400;
  text-transform: uppercase;
}
