.gallery-slider {
  height: 550px;
  overflow: hidden;

  @include vp-1023 {
    height: 400px;
  }
}

.gallery-slider.fullscreen {
  height: 100%;
}

.gallery-slide {
  background-color: $color-nero;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gallery-slide__image {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.gallery-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab__inner.is-open .gallery-slide__image {
  max-width: 67.7%;
  max-height: 67.2%;
  top: 15%;
  left: 15%;

  @include vp-1023 {
    max-width: 100%;
    left: 0;
  }
}

.gallery-slide__text {
  font-size: 24px;
  line-height: 26.4px;
  color: $color-default-white;
  padding: 35px 30px;
  width: 100%;
  bottom: 0;
  text-align: left;
  background-color: rgba(20,20,20, 0.5);
  display: flex;
  position: absolute;
  z-index: 3;
}

.gallery-slide .gallery-slide__text p {
  margin: 0;
}

.gallery-slide--5 .gallery-slide__text {
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: flex-start;
}

.tab__inner.is-open .gallery-slide .gallery-slide__text,
.tab__inner.is-open .gallery-slide--5 .gallery-slide__text {
  left: -2%;
  bottom: -10%;
  background-color: unset;
  width: 100%;
  right: unset;
  top: unset;

  @include vp-1023 {
    bottom: -17%;
  }
}
