.jewellery .slider-buttons {
  position: absolute;
  right: 42%;
  top: 105%;
  transform: translateX(-50%);
  min-width: 150px;
  min-height: 32px;
  display: flex;
  z-index: 200;

  @include vp-1023 {
    right: 0;
    left: 50%;
    min-width: 60px;
    min-height: 30px;
  }
}

.jewellery .slider-buttons .container {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.slider-button {
   color: $color-nero;
   transition: all, 0.3 ease;
   cursor: pointer;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.slider-button svg {
  width: 32px;
  height: 32px;

  @include vp-1023 {
    width: 14px;
    height: 14px;
  }
}

.jewellery.is-open .slider-button {
  color: $color-default-white;
}

.jewellery.is-open .slider-buttons {
  right: -1px;
  top: 91%;
  transform: unset;
  background-color: $color-nero;
  max-width: 135px;
  max-height: 70px;
  align-items: center;
  padding: 19px 23px;

  @include vp-1023 {
    display: flex;
    right: 0;
    left: unset;
    top: 95%;
    max-width: 60px;
    max-height: 30px;
    padding: 8px 11px;
  }
}

.slider-buttons--closed-slider {
  display: flex;
}

.slider-buttons--opened-slider {
  display: none;
}

.tab__inner.is-open .slider-buttons--closed-slider {
  display: none;
}

.tab__inner.is-open .slider-buttons--opened-slider {
  display: flex;
}

/*@media (min-width: 1024px) and (max-width: 1090px) {
  .jewellery.is-open .slider-buttons {
    bottom: 174px;
    left: 82%;
    transform: translateX(-92%);
  }
}

@media (min-width: 1091px) and (max-width: 1600px) {
  .jewellery.is-open .slider-buttons {
    bottom: 160px;
    left: 82%;
    transform: translateX(-92%);
  }
}

@media (min-width: 1601px) and (max-width: 1700px) {
  .jewellery.is-open .slider-buttons {
    bottom: 178px;
    left: 82%;
    transform: translateX(-91%);
  }
}

@media (min-width: 1701px) and (max-width: 1800px) {
  .jewellery.is-open .slider-buttons {
    bottom: 180px;
    left: 82%;
    transform: translateX(-90%);
  }
}

@media (min-width: 1801px) and (max-width: 1900px) {
  .jewellery.is-open .slider-buttons {
    bottom: 185px;
    left: 82%;
    transform: translateX(-90%);
  }
}

@media (min-width: 1901px) {
  .jewellery.is-open .slider-buttons {
    bottom: 195px;
    left: 82%;
    transform: translateX(-89%);
  }
}*/

