.tabs {
  position: relative;
  padding-top: 70px;
  padding-bottom: 222px;
  overflow: hidden;

  @include vp-1023 {
    padding-top: 30px;
    padding-bottom: 80px;
  }
}

.tab.is-active {
  position: relative;
  visibility: visible;
}

.tab.is-hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.tab.is-hidden .tab-content {
  display: none;
}

.show {
  opacity: 0;
  animation: show 0.3s 0.2s;
  animation-fill-mode: forwards;
}

@keyframes show {
  0%{
  opacity:0;
  }
  100% {
  opacity:1;
  }
}

.tabs .container {
  @include vp-1023 {
    padding: 0;
  }
}

.tab__close-btn {
  display: flex;
  position: absolute;
  right: 25px;
  top: 25px;
  border: none;
  background-color: transparent;
  padding: 0;
  z-index: 50;
  cursor: pointer;
  transition: opacity, 1s ease;
  opacity: 0;
  pointer-events: none;
}

.tab__close-btn,
.tab__close-btn svg {
  width: 22px;
  height: 30px;
}

.tab__inner.is-open .tab__close-btn {
  opacity: 1;
  pointer-events: all;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.tab--second.is-active.gradient-on {
  position: relative;
}

.tab--second::before,
.tab--second::after {
  display: none;
}

.tab--second.gradient-on.tab--second::before,
.tab--second.gradient-on.tab--second::after {
  position: absolute;
  content: "";
  width: 18.5%;
  height: 101%;
  top: 0;
  z-index: 200;
  display: block;

  @include vp-1023 {
    display: none;
  }
}

.tab--second.gradient-on.tab--second::before {
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.05) 100%);
  left: 0;
}


.tab--second.gradient-on.tab--second::after {
  background: linear-gradient(270deg, white 0%, rgba(255, 255, 255, 0.05) 100%);
  right: 0;
}

.tab__inner.is-open {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $color-nero;
}
